# Harmony analysis

Mitchell / Isthmus

Last 24 hours

## Import libraries

In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
from matplotlib.ticker import PercentFormatter;

## Import data

In [2]:
df = pd.read_csv('harmony_24_v2.csv', usecols=['from_address','to_address', 'txn_value']);
df.head()

    from_address     to_address     txn_value
0  one1e...hs206  one1w...2xt26  1.228590e+06
1  one18...zp09d  one1w...2xt26  3.071995e+06
2  one1t...2r54m  one10...p6gwz  1.200000e+01
3  one1w...2xt26  one10...qewsp  2.624584e+05
4  one1w...2xt26  one1u...ndaw4  7.223084e+04

## Group by address

I don't think the next cell works

In [33]:
from_temp = df[['from_address', 'txn_value']]
df_sorted_from = from_temp.groupby(['from_address','txn_value']).sum().sort_values(by='txn_value', ascending=False)

to_temp = df[['to_address', 'txn_value']]
df_sorted_to = to_temp.groupby(['to_address','txn_value']).sum().sort_values(by='txn_value', ascending=False)

## Analyze

### Total txn value

In [38]:
ONE_USD = 0.011
total_value = sum(from_temp['txn_value'])
print('Total transaction volume: ' + str(round(total_value)) + ' ONE')
print('Total transaction volume: ' + str(round(total_value*ONE_USD)) + ' USF')

Total transaction volume: 132667951 ONE
Total transaction volume: 1459347 USF

### Txn value distribution

In [42]:
frac = list()
for r in range(len(df)):
    this_val = df['txn_value'][r] 
    frac.append(this_val/total_value)
    
df['frac_vol'] = frac

In [51]:
df = df.sort_values(by='frac_vol', ascending=False).head(20)
df.head()

       from_address     to_address  txn_value  frac_vol
1269  one1e...2uqv7  one1q...75u46  6000000.0  0.045226
402   one17...r3kws  one1w...2xt26  5005062.3  0.037726
523   one13...gecgr  one1w...2xt26  5000000.0  0.037688
329   one1p...af0fu  one1c...2tk3x  4121333.0  0.031065
345   one12...p38yr  one1m...kvnag  3671843.0  0.027677