# Harmony analysis

Mitchell / Isthmus

Last 24 hours

## Import libraries

In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
from matplotlib.ticker import PercentFormatter;

## Import data

In [2]:
df = pd.read_csv('harmony_24_v2.csv', usecols=['from_address','to_address', 'txn_value']);
df.head()

    from_address     to_address     txn_value
0  one1e...hs206  one1w...2xt26  1.228590e+06
1  one18...zp09d  one1w...2xt26  3.071995e+06
2  one1t...2r54m  one10...p6gwz  1.200000e+01
3  one1w...2xt26  one10...qewsp  2.624584e+05
4  one1w...2xt26  one1u...ndaw4  7.223084e+04

## Group by address

I don't think the next cell works

In [33]:
from_temp = df[['from_address', 'txn_value']]
df_sorted_from = from_temp.groupby(['from_address','txn_value']).sum().sort_values(by='txn_value', ascending=False)

to_temp = df[['to_address', 'txn_value']]
df_sorted_to = to_temp.groupby(['to_address','txn_value']).sum().sort_values(by='txn_value', ascending=False)

## Analyze

### Total txn value

In [38]:
ONE_USD = 0.011
total_value = sum(from_temp['txn_value'])
print('Total transaction volume: ' + str(round(total_value)) + ' ONE')
print('Total transaction volume: ' + str(round(total_value*ONE_USD)) + ' USF')

Total transaction volume: 132667951 ONE
Total transaction volume: 1459347 USF

### Txn value distribution